body, html {
    height: 100%;
    /* width: 100vw; */
    overflow-x: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 1em;
    padding-right: 2em;
    margin-left: 1em;
    margin-right: 0; */
}

h1 {
    font-weight: 800;
    text-align: center;
}

#options {
     display: contents;
}

#flex-container {
    padding-left: 5em;
    padding-right: 5em;
}

#container {
    /* background-color: lightblue; */
    position: relative;
    /* transform: scale(0.5); */
    /* transform-origin: center center; */
}


span.panel-label.labels {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    z-index: 13;
}

#overlay2 {
    padding-right: 1em;
    display: block;
}

span.panel-label.numbers {
    /* width: 700px; */
    position: absolute;
    /* display: block; */
    /* float: right; */
    /* padding-right: 1em; */
    /* color: red; */
    /* display: block; */
    /* text-align: right; */
    /* float: right; */
    /* margin-right: 1em; */
}

#samplingDistParams {
    margin-bottom: 0.5em;
}

.hide {
    display:none;
}