body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#options {
    background-color: red;
    position: relaabsolutetive;
    display: contents;
}

#container {
    /* background-color: lightblue; */
    position: relative;
    /* transform: scale(0.5); */
    /* transform-origin: center center; */
}


span.panel-label.labels {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    z-index: 13;
}

span.panel-label.numbers {
    width: 700px;
    position: absolute;
    /* padding-right: 1em; */
    /* color: red; */
    /* display: block; */
    /* text-align: right; */
    /* float: right; */
    /* margin-right: 1em; */
}